image:
  repository: ghcr.io/hivemindtechnologies/evict-to-rollout/kubectl-jq
  tag: "" # defaults to chart appVersion when empty
  pullPolicy: IfNotPresent

schedule: "*/1 * * * *"
concurrencyPolicy: Forbid
successfulJobsHistoryLimit: 1
failedJobsHistoryLimit: 1

annotationSelector:
  key: evict-to-rollout
  value: "true"

dryRun: false

serviceAccount:
  create: true
  name: ""

rbac:
  create: true

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

podAnnotations: {}
podLabels: {}

nameOverride: ""
fullnameOverride: ""

